<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baseapp2" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"

        android:supportsRtl="true"
        android:theme="@style/Theme.BaseApp2" >
        <activity android:name="activity.CadastroActivity" />
        <activity android:name="activity.LoginActivity" />
        <activity
            android:name="activity.MainActivity"
            android:theme="@style/Theme.Intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>